<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dome.Dao.PositionMapper">

    <resultMap id="PositionMap" type="dome.Bean.Position">
        <result property="lat" column="lat"/>
        <result property="lon" column="lon"/>
    </resultMap>
    <select id="getPosition" resultMap="PositionMap">
        select lat, lon
        from `20130101`
    </select>
</mapper>